img{
    border-radius: 15px;
    text-align: end;
    position: relative;
}

canvas{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#download-button{
    display: none;
    height: 30px;
}

.layers{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    visibility: hidden;
}

#download{
    background-image: none;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    box-shadow: none;
    width: 20%;
    height: 30%;
    margin-top: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; 
}

#download:hover{
    visibility: visible;
    color: rgba(0, 0, 0, 0.692);
    background-color: rgba(255, 255, 255, 0.829);
    background-image: none;
    width: 20%;
    height: 30%;
    margin-top: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-weight: 800; 
}